
.navbar {
    width: 100%;
    background-color:lightskyblue;
    overflow: hidden;
  }
  

  .navbar a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
 
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color:salmon;
  }

#logo{
        height: 100px;
        width: 100px;
        float: left;
        margin-right:40px;
    }


  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }

#sn{
    display: none;
}
.btn{
  background-color: green;
  color: white;
  
}


  }