
#sn{
    display: none;
}
.btn{
  background-color: green;
  color: white;

}

#questions{
  text-align: center;
}
.physicals{
text-align: center;
align-items: center;
}

.social{
  text-align: center;

}
}

.questionnaire-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 50px;
  width: auto;