#testimonials-section {
  border-style: hidden;
  border-radius: 60px;
  background-color: #010b13;
}
img {
  width: 100%;
}
.acme-font {
  font-size: 24px;
  font-family: 'Acme', sans-serif;
  font-weight: normal;
  text-align: center;
  color: silver;
}
.lilly-image {
  display: none;
  padding-top: 140px;
  height: 60%;
}
.patrick-image {
  height: 70%;
  padding-top: 160px;
  display: none;
}
.scarlet-image {
  height: 70%;
  padding-top: 150px;
  display: none;
}
.drews-image {
  height: 60%;
  padding-top: 170px;
  display: none;
}
.card {
  /* background-image: linear-gradient(0deg, lightpink, lightpink); */
  background-color: lightpink;
  background-blend-mode: multiply;
  border-style: hidden;
  border-radius: 40px;
  color: darkred;
  font-family: 'Acme', sans-serif;
  font-size: 18px;
  position: ;
}
.card-title {
  background-image: linear-gradient(0deg, pink, purple);
  border-style: hidden;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-footer {
  text-align: center;
}
.testimonials {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}
h3.testimonials {
    color: black;
}
h2.testimonials {
  color: purple;
}
.lilly-hidden {
  display: none;
}
.patrick-hidden {
  display: none;
}
.scarlet-hidden {
  display: none;
}
.drew-hidden {
  display: none;
}
.clickable:hover {
  cursor: pointer;
  color: blue;
}
.clickable {
  text-decoration: underline;
  color: white;
}
.post-form {
  text-align: center;
}
#post {
  border-radius: 10px;
}
form#testimonial-post {
  display: none;
}
.hidden {
  display: none;
}
h3.new-titles {
  color: white;
  font-weight: bold;
}
